:root {
  --font-family: "Roboto", sans-serif;
  --content-width: 1290px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --dark-color: #202020;
  --semidark-color: rgba(#202020, 0.85);
  --tundora-color: #4a4a4a;
  --dusty-color: #999999;
  --silver-color: #cacaca;
  --mercury-color: #e9e9e9;
  --active-color: #ce4307;
  --accent-color: #ff6e30;
  --tuscany-color: #bc572b;
  --sienna-color: #f06666;
  --red-color: #ff3030;
  --romantic-color: #ffd4c1;
  --grid-gap: 30px;
  --section-gap: 68px;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/../fonts/TTFirsNeueRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/../fonts/TTFirsNeueMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/../fonts/TTFirsNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 1024px) {
  .page {
    --container-offset: 31px;
  }
}
@media (max-width: 992px) {
  .page {
    --container-offset: 27px;
  }
}
@media (max-width: 576px) {
  .page {
    --container-offset: 21px;
  }
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
  opacity: 0;
  visibility: hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.burger {
  display: none;
  position: relative;
  width: 20px;
  height: 18px;
  background-color: transparent;
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  transform: translateY(13px);
  cursor: pointer;
}
@media (max-width: 576px) {
  .burger {
    display: block;
    margin-left: var(--container-offset);
  }
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: var(--light-color);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.burger__line::before, .burger__line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--light-color);
  -webkit-transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger__line::before {
  top: -8px;
}
.burger__line::after {
  bottom: -8px;
  width: 50%;
}
.burger--active .burger__line {
  opacity: 0;
}

.burger-close {
  position: relative;
  display: none;
  position: absolute;
  top: 13px;
  left: 20px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-image: url(../img/cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--dusty-color);
  outline: none;
}
@media (max-width: 576px) {
  .burger-close {
    display: block;
  }
}

.stop-scroll {
  overflow: hidden;
}

.header__wrapper {
  display: none;
  -ms-grid-column-span: 2;
  grid-column: 2 span;
  -ms-grid-row: 2;
  grid-row: 2;
  background-color: var(--tundora-color);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
@media (max-width: 576px) {
  .header__wrapper {
    display: block;
  }
}

.search {
  -ms-grid-column: 12;
  grid-column: 12;
  position: relative;
  margin-left: auto;
}
@media (max-width: 992px) {
  .search {
    -ms-grid-column: 6;
    grid-column: 6;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}
@media (max-width: 576px) {
  .search {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}
.search__btn {
  position: relative;
  outline: none;
}
@media (max-width: 992px) {
  .search__btn {
    padding-right: var(--container-offset);
  }
}
.search__btn::after {
  position: absolute;
  content: "";
  inset: -5px;
}
.search__btn svg {
  width: 25px;
  height: 25px;
  fill: var(--light-color);
}
@media (max-width: 576px) {
  .search__btn svg {
    width: 20px;
    height: 20px;
  }
}
.search__btn:focus svg {
  fill: var(--tuscany-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.search .search-form {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  padding-right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--dark-color);
  z-index: 1;
}
@media (max-width: 992px) {
  .search .search-form {
    padding-right: var(--container-offset);
  }
}
.search .search-form__input {
  margin-right: 25px;
  padding-right: 45px;
  border: none;
  border-bottom: 1px solid var(--light-color);
  font-family: "TTFirsNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--light-color);
  background-color: var(--dark-color);
  outline: none;
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
}
@media (max-width: 768px) {
  .search .search-form__input {
    margin-right: 32px;
    width: 311px;
    font-size: 16px;
    line-height: 21px;
  }
}
@media (max-width: 576px) {
  .search .search-form__input {
    margin-right: 28px;
    width: 250px;
    font-size: 14px;
    line-height: 18px;
  }
}
.search .search-form__input:hover {
  border-bottom: 1px solid var(--accent-color);
}
.search .search-form__input:focus {
  border-bottom: 1px solid var(--active-color);
}
.search .search-form__input::-webkit-input-placeholder {
  color: var(--light-color);
}
.search .search-form__input::-moz-placeholder {
  color: var(--light-color);
}
.search .search-form__input:-ms-input-placeholder {
  color: var(--light-color);
}
.search .search-form__input::-ms-input-placeholder {
  color: var(--light-color);
}
.search .search-form__input::placeholder {
  color: var(--light-color);
}
.search .search-form__close {
  position: absolute;
  top: 15px;
  right: 0;
  border-radius: 100%;
  width: 23px;
  height: 23px;
  background-image: url(../img/cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--dusty-color);
  outline: none;
}
@media (max-width: 992px) {
  .search .search-form__close {
    margin-right: var(--container-offset);
  }
}
@media (max-width: 576px) {
  .search .search-form__close {
    top: 20px;
    width: 18px;
    height: 18px;
  }
}
.search .search-form__close svg {
  width: 23px;
  height: 23px;
}

.section-title {
  margin: 0;
  margin-bottom: 18px;
  font-family: "TTFirsNeue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 104%;
  color: var(--dark-color);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  border: 3px solid transparent;
  padding: 12.5px 19px;
  min-width: 159px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--light-color);
  background-color: var(--accent-color);
  outline: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn:focus-visible {
  color: var(--light-color);
  border: 3px solid var(--active-color);
  background-color: var(--accent-color);
}
.btn:hover {
  color: var(--light-color);
  background-color: var(--tuscany-color);
}
.btn:active {
  color: var(--light-color);
  background-color: var(--active-color);
}

.btn--stroke {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  border: 3px solid var(--accent-color);
  padding: 12.5px 19px;
  width: 21%;
  min-width: 121px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--light-color);
  background-color: transparent;
  outline: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn--stroke:focus-visible {
  color: var(--light-color);
  border: 3px solid var(--accent-color);
  background-color: var(--tuscany-color);
}
.btn--stroke:hover {
  color: var(--light-color);
  background-color: var(--accent-color);
}
.btn--stroke:active {
  color: var(--light-color);
  background-color: var(--active-color);
  border: 3px solid transparent;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 170px;
  margin-bottom: -20px;
}
.social__item {
  margin-bottom: 20px;
}
.social__item:not(:last-child) {
  margin-right: 20px;
}
.social__link {
  display: block;
  width: 30px;
  height: 30px;
}
.social__link svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--silver-color);
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.social__link:focus-visible {
  outline: none;
}
.social__link:focus-visible svg {
  fill: var(--tuscany-color);
}
.social__link:hover svg {
  fill: var(--accent-color);
}
.social__link:active svg {
  fill: var(--active-color);
}

.header {
  background-color: var(--dark-color);
}
.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 80px;
}
@media (max-width: 992px) {
  .header__container {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (80px)[1];
    grid-template-rows: repeat(1, 80px);
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .header__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (70px)[1];
    grid-template-rows: repeat(1, 70px);
    grid-auto-rows: 45px;
  }
}
.header__container .logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  outline: none;
}
@media (max-width: 1024px) {
  .header__container .logo {
    width: 166px;
    height: 27px;
  }
}
@media (max-width: 992px) {
  .header__container .logo {
    padding-left: var(--container-offset);
  }
}
@media (max-width: 576px) {
  .header__container .logo {
    width: 132px;
    height: 18px;
  }
}
@media (max-width: 992px) {
  .header__container .logo {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }
}
@media (max-width: 576px) {
  .header__container .logo {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.nav {
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 4/11;
}
@media (max-width: 992px) {
  .nav {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    padding: 12px var(--container-offset);
    background-color: var(--tundora-color);
  }
}
@media (max-width: 576px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-grid-column-span: 2;
    grid-column: 2 span;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 45px;
    overflow-y: auto;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .nav__list {
    padding: 36px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-height: calc(62% + 2px);
  }
}
.nav__item:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 576px) {
  .nav__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.nav__link {
  position: relative;
  z-index: 1;
  outline: none;
  font-family: "TTFirsNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--light-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.nav__link::after {
  content: "";
  position: absolute;
  inset: -4px;
  z-index: -1;
  background-color: var(--tuscany-color);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.nav__link:focus-visible:not(:active)::after {
  opacity: 1;
}
.nav__link:hover:not(:active) {
  color: var(--accent-color);
}
.nav__link:active {
  color: var(--active-color);
}
.nav__phone {
  display: none;
  position: absolute;
  left: 18px;
  bottom: 19%;
  margin: 0;
  padding-left: 22px;
  font-family: "TTFirsNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--accent-color);
  z-index: 1;
  outline: none;
  background-image: url("../img/phone.svg");
  background-position: left center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .nav__phone {
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
    background-size: 20px 20px;
  }
}
.nav__phone::after {
  content: "";
  position: absolute;
  inset: -4px;
  z-index: -1;
  background-color: var(--tuscany-color);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.nav__phone:focus-visible {
  color: var(--light-color);
}
.nav__phone:focus-visible:not(:active)::after {
  opacity: 1;
}
.nav__phone:hover:not(:active) {
  color: var(--accent-color);
}
.nav__phone:active {
  color: var(--active-color);
}
@media (max-width: 576px) {
  .nav__phone {
    display: block;
  }
}
@media (max-width: 576px) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-color);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}

.workshop {
  padding-top: 41px;
  padding-bottom: var(--section-gap);
  background-color: var(--light-color);
}
@media (max-width: 1200px) {
  .workshop {
    padding-bottom: 68px;
  }
}
@media (max-width: 1024px) {
  .workshop {
    padding-top: 34px;
  }
}
@media (max-width: 992px) {
  .workshop {
    padding-top: 36px;
  }
}
@media (max-width: 576px) {
  .workshop {
    padding-top: 30px;
    padding-bottom: 7px;
  }
}
.workshop__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (630px)[1];
  grid-template-rows: repeat(1, 630px);
  gap: var(--grid-gap);
}
@media (max-width: 1024px) {
  .workshop__wrapper {
    -ms-grid-rows: (623px)[1];
    grid-template-rows: repeat(1, 623px);
  }
}
@media (max-width: 992px) {
  .workshop__wrapper {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (452px)[1];
    grid-template-rows: repeat(1, 452px);
  }
}
@media (max-width: 635px) {
  .workshop__wrapper {
    -ms-grid-rows: (470px)[1];
    grid-template-rows: repeat(1, 470px);
  }
}
@media (max-width: 576px) {
  .workshop__wrapper {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (422px)[2];
    grid-template-rows: repeat(2, 422px);
  }
}
.workshop__item {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
@media (max-width: 992px) {
  .workshop__item {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
  }
}
@media (max-width: 992px) {
  .workshop__item {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
  }
}
@media (max-width: 576px) {
  .workshop__item {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }
}
.workshop__left {
  min-height: 630px;
}
@media (max-width: 992px) {
  .workshop__left {
    min-height: 452px;
  }
}
@media (max-width: 635px) {
  .workshop__left {
    min-height: 470px;
  }
}
@media (max-width: 576px) {
  .workshop__left {
    min-height: 422px;
  }
}
@media (max-width: 576px) {
  .workshop__right {
    padding-top: 5px;
  }
}
.workshop .works__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  gap: var(--grid-gap);
}
.workshop .works__list .works__item--1 {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.workshop .works__list .works__item--2 {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
.workshop .works__list .works__item--3 {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
@media (max-width: 1024px) {
  .workshop .works__title {
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  .workshop .works__title {
    font-size: 22px;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .workshop .works__title {
    font-size: 18px;
    margin-bottom: 24px;
  }
}
@media (max-width: 576px) {
  .workshop .works__title {
    margin-bottom: 15px;
  }
}
.workshop .works__image {
  display: block;
}
@media (max-width: 1295px) {
  .workshop .works__image--1 {
    height: 332px;
  }
}
@media (max-width: 992px) {
  .workshop .works__image--1 {
    height: 228px;
  }
}
@media (max-width: 576px) {
  .workshop .works__image--1 {
    height: 187px;
  }
}
@media (max-width: 1295px) {
  .workshop .works__image--2, .workshop .works__image--3 {
    height: 200px;
  }
}
@media (max-width: 1024px) {
  .workshop .works__image--2, .workshop .works__image--3 {
    height: 186px;
  }
}
@media (max-width: 992px) {
  .workshop .works__image--2, .workshop .works__image--3 {
    height: 133px;
  }
}
@media (max-width: 576px) {
  .workshop .works__image--2, .workshop .works__image--3 {
    height: 105px;
  }
}
.workshop__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 630px;
  padding: 60px;
  position: relative;
  background-image: url("../img/pic-main.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .workshop__article {
    padding: 60px 30px;
  }
}
@media (max-width: 1024px) {
  .workshop__article {
    min-height: 623px;
    padding: 30px;
    background-image: url("../img/pic-main-1024.jpg");
  }
}
@media (max-width: 992px) {
  .workshop__article {
    min-height: 452px;
    padding: 30px 28px;
    background-image: url("../img/pic-main-768.jpg");
  }
}
@media (max-width: 635px) {
  .workshop__article {
    min-height: 470px;
  }
}
@media (max-width: 576px) {
  .workshop__article {
    min-height: 422px;
    padding: 30px 28px;
    background-image: url("../img/pic-main-320.jpg");
  }
}
.workshop__hash {
  padding: 7px 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--light-color);
  background-color: var(--dark-color);
}
@media (max-width: 576px) {
  .workshop__hash {
    padding: 4px 7px;
    top: 6px;
    right: 6px;
    font-size: 12px;
    line-height: 14px;
  }
}
.workshop__title-text {
  margin: 0;
  margin-bottom: 3px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: var(--light-color);
}
@media (max-width: 1024px) {
  .workshop__title-text {
    margin-bottom: 9px;
  }
}
@media (max-width: 992px) {
  .workshop__title-text {
    margin-bottom: 16px;
  }
}
@media (max-width: 576px) {
  .workshop__title-text {
    font-size: 13.5px;
    line-height: 16px;
    margin-bottom: 8px;
  }
}
.workshop__title {
  margin: 0;
  margin-bottom: 19px;
  font-family: "TTFirsNeue";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 104%;
  color: var(--light-color);
}
@media (max-width: 1024px) {
  .workshop__title {
    margin-bottom: 22px;
    font-size: 34px;
    line-height: 1;
  }
}
@media (max-width: 992px) {
  .workshop__title {
    margin-bottom: 23px;
    font-size: 34px;
    line-height: 90%;
  }
}
@media (max-width: 576px) {
  .workshop__title {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 110%;
  }
}
@media (max-width: 992px) {
  .workshop__link {
    padding: 12.5px 20px;
    min-width: 159px;
  }
}
@media (max-width: 576px) {
  .workshop__link {
    padding: 9px 17px;
    min-width: 147px;
    font-size: 14px;
    line-height: 16px;
  }
}

.about {
  padding-top: 34px;
  padding-bottom: 38px;
  min-height: 500px;
  background-color: var(--dark-color);
}
@media (max-width: 1024px) {
  .about {
    padding-bottom: 88px;
  }
}
@media (max-width: 992px) {
  .about {
    padding-bottom: 62px;
  }
}
@media (max-width: 576px) {
  .about {
    padding-top: 32px;
    padding-bottom: 60px;
  }
}
.about__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}
@media (max-width: 635px) {
  .about__wrapper {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    gap: 22px;
  }
}
.about__item {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.about__title {
  margin: 0;
  margin-bottom: 4px;
  color: var(--light-color);
}
@media (max-width: 576px) {
  .about__title {
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 23px;
  }
}
.about__descr {
  margin: 0;
  margin-top: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--silver-color);
}
@media (max-width: 576px) {
  .about__descr {
    font-size: 14px;
    line-height: 25px;
  }
}
.about__img {
  margin-bottom: 21px;
}
@media (max-width: 1295px) {
  .about__img {
    height: 280px;
  }
}
@media (max-width: 1200px) {
  .about__img {
    height: 332px;
  }
}
@media (max-width: 992px) {
  .about__img {
    height: 569px;
  }
}
@media (max-width: 635px) {
  .about__img {
    height: 278px;
  }
}
.about__subtitle {
  margin: 0;
  margin-bottom: 16px;
  font-family: "TTFirsNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: var(--light-color);
}
@media (max-width: 576px) {
  .about__subtitle {
    font-size: 18px;
  }
}
.about__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (max-width: 1024px) {
  .about__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.about__label {
  position: relative;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
}
.about .just-validate-error-label {
  position: absolute;
  color: var(--sienna-color) !important;
  -webkit-transform: translate(24px, -47px);
  -ms-transform: translate(24px, -47px);
  transform: translate(24px, -47px);
}
@media (max-width: 1024px) {
  .about .just-validate-error-label {
    -webkit-transform: translate(24px, -65px);
    -ms-transform: translate(24px, -65px);
    transform: translate(24px, -65px);
  }
}
.about .just-validate-error-field {
  border: 1px solid var(--sienna-color);
}
.about__input {
  width: 94%;
  height: 50px;
  margin-right: 30px;
  padding: 15px 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--light-color);
  background-color: var(--tundora-color);
  border: 1px solid transparent;
  outline: none;
}
@media (max-width: 1024px) {
  .about__input {
    width: 73%;
    margin-bottom: 19px;
  }
}
@media (max-width: 992px) {
  .about__input {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .about__input {
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }
}
.about__input:focus-visible {
  color: var(--silver-color);
  border: 1px solid var(--accent-color);
}
.about__input:hover::-webkit-input-placeholder {
  color: var(--accent-color);
}
.about__input:hover::-moz-placeholder {
  color: var(--accent-color);
}
.about__input:hover:-ms-input-placeholder {
  color: var(--accent-color);
}
.about__input:hover::-ms-input-placeholder {
  color: var(--accent-color);
}
.about__input:hover::placeholder {
  color: var(--accent-color);
}
.about::-webkit-input-placeholder {
  background-color: var(--silver-color);
}
.about::-moz-placeholder {
  background-color: var(--silver-color);
}
.about:-ms-input-placeholder {
  background-color: var(--silver-color);
}
.about::-ms-input-placeholder {
  background-color: var(--silver-color);
}
.about::placeholder {
  background-color: var(--silver-color);
}
.about__btn {
  padding: 10px 27px;
  min-width: 126px;
  height: 50px;
}
@media (max-width: 1024px) {
  .about__btn {
    padding: 10px 19px;
  }
}
@media (max-width: 1024px) {
  .about__btn {
    padding: 10px 14px;
    min-width: 115px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }
}

.projects {
  padding-top: 72px;
  padding-bottom: 34px;
  background-color: var(--light-color);
}
@media (max-width: 576px) {
  .projects {
    padding-top: 50px;
  }
}
.projects__title {
  margin-bottom: 14px;
}
@media (max-width: 576px) {
  .projects__title {
    font-size: 18px;
    line-height: 23px;
  }
}
.projects__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (minmax(300px, 1fr))[2];
  grid-template-rows: repeat(2, minmax(300px, 1fr));
  gap: var(--grid-gap);
}
@media (max-width: 1024px) {
  .projects__list {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: (minmax(285px, 1fr))[1];
    grid-template-rows: repeat(1, minmax(285px, 1fr));
    row-gap: 24px;
  }
}
@media (max-width: 992px) {
  .projects__list {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (minmax(300px, 1fr))[1];
    grid-template-rows: repeat(1, minmax(300px, 1fr));
    gap: var(--grid-gap);
  }
}
@media (max-width: 576px) {
  .projects__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}
.projects__item:nth-child(1) {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
}
@media (max-width: 576px) {
  .projects__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    min-height: 278px;
  }
}
.projects__item:nth-child(2) {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
}
@media (max-width: 576px) {
  .projects__item:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}
.projects__item:nth-child(3) {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
}
@media (max-width: 1024px) {
  .projects__item:nth-child(3) {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
  }
}
@media (max-width: 992px) {
  .projects__item:nth-child(3) {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }
}
@media (max-width: 576px) {
  .projects__item:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}
.projects__item:nth-child(4) {
  background-color: var(--dusty-color);
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
@media (max-width: 1024px) {
  .projects__item:nth-child(4) {
    -ms-grid-column-span: 5;
    grid-column: 5 span;
    min-height: 307px;
  }
}
@media (max-width: 992px) {
  .projects__item:nth-child(4) {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    min-height: 300px;
  }
}
@media (max-width: 576px) {
  .projects__item:nth-child(4) {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    min-height: 422px;
  }
}
.projects__item:nth-child(5) {
  background-color: var(--dusty-color);
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
@media (max-width: 1024px) {
  .projects__item:nth-child(5) {
    -ms-grid-column-span: 5;
    grid-column: 5 span;
  }
}
@media (max-width: 992px) {
  .projects__item:nth-child(5) {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    min-height: 300px;
  }
}
@media (max-width: 576px) {
  .projects__item:nth-child(5) {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    min-height: 422px;
  }
}
.projects__item:nth-child(6) {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
@media (max-width: 1024px) {
  .projects__item:nth-child(6) {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 307px;
  }
}
@media (max-width: 992px) {
  .projects__item:nth-child(6) {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    height: 300px;
  }
}
@media (max-width: 576px) {
  .projects__item:nth-child(6) {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    height: 300px;
  }
}
.projects__item:nth-child(7) {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
@media (max-width: 1024px) {
  .projects__item:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 3;
    grid-row: 3;
    height: 307px;
  }
}
@media (max-width: 992px) {
  .projects__item:nth-child(7) {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    height: 300px;
  }
}
@media (max-width: 576px) {
  .projects__item:nth-child(7) {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    height: 300px;
  }
}
.projects .project {
  height: 100%;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  background-color: var(--light-color);
}
.project__img {
  margin-bottom: 14px;
}
.project__img:nth-child(1), .project__img:nth-child(2), .project__img:nth-child(3) {
  width: 466px;
  height: 184px;
}
@media (max-width: 576px) {
  .project__img:nth-child(1), .project__img:nth-child(2), .project__img:nth-child(3) {
    width: 534px;
  }
}
@media (max-width: 576px) {
  .project__img:nth-child(6), .project__img:nth-child(7) {
    width: 534px;
  }
}
.project__hash {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 6px 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--light-color);
  background-color: var(--dark-color);
}
@media (max-width: 576px) {
  .project__hash {
    top: 5px;
    right: 5px;
    padding: 4px 14px;
    font-size: 12px;
    line-height: 14px;
  }
}
.project__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 576px) {
  .project__content {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}
.project__descr {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-color);
}
@media (max-width: 1200px) {
  .project__descr {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
  }
}
@media (max-width: 1024px) {
  .project__descr--1, .project__descr--2, .project__descr--3 {
    -webkit-line-clamp: 2;
  }
  .project__descr--6, .project__descr--7 {
    -webkit-line-clamp: 3;
  }
}
@media (max-width: 992px) {
  .project__descr--1, .project__descr--2 {
    -webkit-line-clamp: 3;
  }
}
.project__date {
  margin-top: auto;
  padding-left: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: var(--dusty-color);
  background-image: url("../img/calendar.svg");
  background-position: left center;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}
.project__date--light {
  margin: 0;
  margin-bottom: 2px;
  color: var(--light-color);
  background-image: url("../img/calendar-light.svg");
  background-position: left center;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}
.project--4, .project--5 {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 22px 30px 30px 30px;
  background-image: url("../img/project-4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .project--4, .project--5 {
    padding-top: 30px;
  }
}
@media (max-width: 576px) {
  .project--4, .project--5 {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 33px;
  }
}
.project--4 .project__descr--light, .project--5 .project__descr--light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 67%;
  margin: 0;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--light-color);
}
@media (max-width: 992px) {
  .project--4 .project__descr--light, .project--5 .project__descr--light {
    max-width: 45%;
  }
}
@media (max-width: 576px) {
  .project--4 .project__descr--light, .project--5 .project__descr--light {
    max-width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
}
.project--4 .project__date, .project--5 .project__date {
  margin-top: 0;
}
.project--4 .btn--stroke, .project--5 .btn--stroke {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .project--4 .btn--stroke, .project--5 .btn--stroke {
    width: 18%;
    padding: 12px 10px;
  }
}
@media (max-width: 576px) {
  .project--4 .btn--stroke, .project--5 .btn--stroke {
    min-width: 109px;
    padding: 7px 13px;
  }
}
@media (max-width: 1024px) {
  .project--4 {
    padding-bottom: 37px;
  }
}
@media (max-width: 992px) {
  .project--4 {
    padding-bottom: 29px;
  }
}
@media (max-width: 576px) {
  .project--4 {
    background-image: url("../img/project-4-320.jpg");
  }
}
.project--5 {
  background-image: url("../img/project-5.jpg");
}
.project__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  margin: 0;
  margin-bottom: 6px;
  font-family: "TTFirsNeue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--light-color);
}
@media (max-width: 992px) {
  .project__title {
    max-width: 45%;
  }
}

.contacts {
  padding-top: 38px;
  padding-bottom: 69px;
  background-color: var(--light-color);
}
@media (max-width: 1024px) {
  .contacts {
    padding-bottom: 68px;
  }
}
@media (max-width: 992px) {
  .contacts {
    padding-top: 34px;
    padding-bottom: 69px;
  }
}
@media (max-width: 576px) {
  .contacts {
    padding-top: 19px;
    padding-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .contacts__container {
    width: 100%;
    padding: 0;
  }
}
.contacts__title {
  margin-bottom: 24px;
}
@media (max-width: 576px) {
  .contacts__title {
    margin-bottom: 14px;
    padding: 0 var(--container-offset);
    font-size: 18px;
    line-height: 23px;
  }
}
.contacts__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}
@media (max-width: 1024px) {
  .contacts__wrapper {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 992px) {
  .contacts__wrapper {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 576px) {
  .contacts__wrapper {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.contacts__item:first-of-type {
  position: relative;
  -ms-grid-column-span: 8;
  grid-column: 8 span;
  background-color: var(--dusty-color);
}
@media (max-width: 1024px) {
  .contacts__item:first-of-type {
    -ms-grid-column-span: 5;
    grid-column: 5 span;
  }
}
@media (max-width: 992px) {
  .contacts__item:first-of-type {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
@media (max-width: 576px) {
  .contacts__item:first-of-type {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }
}
.contacts__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
@media (max-width: 1024px) {
  .contacts__item {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
  }
}
@media (max-width: 992px) {
  .contacts__item {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
  }
}
@media (max-width: 576px) {
  .contacts__item {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }
  .contacts__item:last-child {
    padding: 0 var(--container-offset);
    padding-top: 4px;
  }
}
.contacts .map-container {
  position: relative;
  height: 460px;
}
.contacts .map-container .map {
  width: 100%;
  height: 100%;
  background-color: var(--dusty-color);
}
.contacts .map-container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contacts .map-container .address {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 60px;
  width: 48%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.85);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .contacts .map-container .address {
    top: unset;
    right: 0;
    bottom: 0;
    padding: 24px 30px;
    width: 100%;
    height: 34%;
  }
}
@media (max-width: 576px) {
  .contacts .map-container .address {
    padding: 0 19px;
    padding-top: 25px;
    padding-bottom: 4px;
    height: calc(33% - 6px);
  }
}
@media (max-width: 1024px) {
  .contacts .map-container .address__wrapper {
    max-width: 60%;
  }
}
@media (max-width: 992px) {
  .contacts .map-container .address__wrapper {
    max-width: 65%;
  }
}
@media (max-width: 635px) {
  .contacts .map-container .address__wrapper {
    max-width: 100%;
  }
}
.contacts .map-container .address__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: "TTFirsNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: var(--light-color);
}
@media (max-width: 1024px) {
  .contacts .map-container .address__title {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .contacts .map-container .address__title {
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 22px;
  }
}
.contacts .map-container .address__descr {
  margin: 0;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--silver-color);
}
@media (max-width: 1024px) {
  .contacts .map-container .address__descr {
    display: inline;
    margin-right: 10px;
  }
}
@media (max-width: 992px) {
  .contacts .map-container .address__descr {
    display: block;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .contacts .map-container .address__descr {
    margin-bottom: 10px;
    max-width: 95%;
    font-size: 14px;
    line-height: 18px;
  }
}
.contacts .map-container .address__phone {
  position: relative;
  margin: 0;
  padding-left: 22px;
  font-family: "TTFirsNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--accent-color);
  z-index: 1;
  outline: none;
  background-image: url("../img/phone.svg");
  background-position: left center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .contacts .map-container .address__phone {
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
    background-size: 20px 20px;
  }
}
.contacts .map-container .address__phone::after {
  content: "";
  position: absolute;
  inset: -4px;
  z-index: -1;
  background-color: var(--tuscany-color);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.contacts .map-container .address__phone:focus-visible {
  color: var(--light-color);
}
.contacts .map-container .address__phone:focus-visible:not(:active)::after {
  opacity: 1;
}
.contacts .map-container .address__phone:hover:not(:active) {
  color: var(--accent-color);
}
.contacts .map-container .address__phone:active {
  color: var(--active-color);
}
.contacts .map-container .address__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-image: url(../img/cross.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--dusty-color);
  outline: none;
}
.contacts__order {
  margin-bottom: 14px;
}
.contacts__subtitle {
  margin: 0;
  font-family: "TTFirsNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: var(--dark-color);
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}
@media (max-width: 576px) {
  .contacts__subtitle {
    margin-bottom: 10px;
    font-size: 18px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.contacts__descr {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--dusty-color);
}
@media (max-width: 576px) {
  .contacts__descr {
    font-size: 14px;
    line-height: 18px;
  }
}
.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 410px;
}
@media (max-width: 1024px) {
  .contacts__form {
    max-width: 342px;
  }
}
@media (max-width: 992px) {
  .contacts__form {
    max-width: 466px;
  }
}
.contacts__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.contacts .just-validate-error-label {
  position: absolute;
  color: var(--red-color) !important;
  -webkit-transform: translate(24px, 4px);
  -ms-transform: translate(24px, 4px);
  transform: translate(24px, 4px);
}
.contacts .just-validate-error-field {
  border: 1px solid var(--red-color);
}
.contacts__label {
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
}
.contacts__input {
  border: 1px solid transparent;
  width: 100%;
  height: 50px;
  margin-bottom: 19px;
  padding: 0 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark-color);
  background-color: var(--mercury-color);
  outline: none;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 576px) {
  .contacts__input {
    height: 40px;
    font-size: 14px;
    line-height: 16px;
  }
}
.contacts__input:focus-visible {
  color: var(--dark-color);
  border: 1px solid var(--accent-color);
}
.contacts__input::-webkit-input-placeholder {
  color: var(--dusty-color);
}
.contacts__input::-moz-placeholder {
  color: var(--dusty-color);
}
.contacts__input:-ms-input-placeholder {
  color: var(--dusty-color);
}
.contacts__input::-ms-input-placeholder {
  color: var(--dusty-color);
}
.contacts__input::placeholder {
  color: var(--dusty-color);
}
.contacts__input:hover::-webkit-input-placeholder {
  color: var(--accent-color);
}
.contacts__input:hover::-moz-placeholder {
  color: var(--accent-color);
}
.contacts__input:hover:-ms-input-placeholder {
  color: var(--accent-color);
}
.contacts__input:hover::-ms-input-placeholder {
  color: var(--accent-color);
}
.contacts__input:hover::placeholder {
  color: var(--accent-color);
}
.contacts__input--textarea {
  margin-bottom: 21px;
  padding: 15px 20px;
  height: 150px;
  resize: none;
}
.contacts__btn {
  padding: 12px 19px;
  min-width: 126px;
}
@media (max-width: 576px) {
  .contacts__btn {
    padding: 9px 14px;
    min-width: 115px;
    font-size: 14px;
    line-height: 16px;
  }
}

[class*=copyrights-pane] {
  display: none !important;
}

[class*=ground-pane] {
  -webkit-filter: grayscale(1) brightness(95%);
  filter: grayscale(1) brightness(95%);
}

.footer {
  padding-top: 24px;
  padding-bottom: 16px;
  min-height: 106px;
  background-color: var(--dark-color);
}
@media (max-width: 1024px) {
  .footer {
    padding-top: 21px;
  }
}
@media (max-width: 992px) {
  .footer {
    padding-top: 24px;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 0;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 576px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 0;
    width: 100%;
  }
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 58px;
}
@media (max-width: 576px) {
  .footer__logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    min-height: 62px;
    background-color: #444;
  }
}
.footer__logo-img {
  margin: 0;
  margin-bottom: 1px;
  outline: none;
}
@media (max-width: 1024px) {
  .footer__logo-img {
    margin-bottom: 5px;
    width: 166px;
    height: 27px;
  }
}
@media (max-width: 576px) {
  .footer__logo-img {
    margin-bottom: 3px;
    width: 111px;
    height: 18px;
  }
}
.footer__copyright {
  margin: 0;
  font-family: "TTFirsNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--mercury-color);
}
@media (max-width: 576px) {
  .footer__copyright {
    font-size: 10px;
    line-height: 13px;
  }
}
.footer__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 361px;
  -webkit-transform: translateX(-63px);
  -ms-transform: translateX(-63px);
  transform: translateX(-63px);
}
@media (max-width: 1024px) {
  .footer__quote {
    -webkit-transform: translate(34px, 3px);
    -ms-transform: translate(34px, 3px);
    transform: translate(34px, 3px);
  }
}
@media (max-width: 992px) {
  .footer__quote {
    display: none;
  }
}
.footer__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--silver-color);
}
.footer__text--right {
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .footer__text--right {
    width: 161px;
  }
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
@media (max-width: 576px) {
  .footer__social {
    padding-top: 31px;
    padding-bottom: 31px;
  }
}
@media (max-width: 576px) {
  .footer__social .social {
    max-width: 235px;
  }
}
/*# sourceMappingURL=main.css.map */